@charset "UTF-8";
/*
* Модальное окно исключительно средствами CSS;
* без javascript и дополительных изображений;
* работает на скрытых чекбоксах;
* @dobrovoi dbmast.ru
*/

.modal {
    height: 0;
}

/* кнопка закрытия окна */
.modal .btn-close {
    color: #fefefe;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: -14px;
    background-color: #fa4b15;
    padding: 0 7px;
    margin: 0
}

/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока*/ 
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
    top: 0;
}
/* элементы модального окна */
.modal-dialog {

    border-radius: 5px;
    position: absolute;
    top: -547px;
    -webkit-transform: translate(0%, -500%);
    -ms-transform: translate(0%, -500%);
    -o-transform: translate(0%, -500%);
    transform: translate(0%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    width: 97%;
    z-index: 103;
}
.modal-body {
    border: 3px solid #999;
    border-radius: 5px;
    width: 100%;
}

.modal-body img {
    width: 100%;
    height: 548px;
    background-size: 100%;
}

.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 0;
}
.modal-header h2 {
    font-size: 20px;
    margin: 0;
}
.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}