body {
	max-width: 1600px;
	margin: 0 auto;
}

/*.continer, header, .row, .span12 {
	border: 1px solid #000;
}*/

.row-hed {
	background-color: #f6f9f9;
}

.row-hed div img {
	margin: 31px 41px;
}

.head {
	background: url(../images/bcg-hed.png) no-repeat top center;
	height: 802px;
	text-align: center;
}

.head h1 {
	border-bottom: 2px solid #3ba0d1;
	color: #fff;
	font-family: "Lato Regular";
	font-size: 120px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 165px;
}

.head p {
	font-family: "Lato Regular";
	font-size: 20px;
	color: #fff;
}

.head p.p {
	font-family: "Lato Regular";
	font-size: 20px;
	color: #fff;
	margin-top: 30px;
}

.head p.bootum {
	margin-top: 62px;
}

.head p.bootum a {
	border: 2px solid #3ba0d1;
	border-radius: 2px;
	color: #fff;
	font-family: "Lato Regular";
	font-size: 18px;
	text-align: center;
	padding: 21px 35px;
}

.head p.bootum a:hover {
	background-color: #3ba0d1;
}

.head div.boot {
	margin-top: 170px;
}

/*** row-fluid ***/

.row-body-1 {
	background-color: #f6f9f9;
	text-align: center;
	padding: 60px 0 110px;
}

.row-body-1 h2 {
	font-size: 40px;
	font-family: lato;
	color: #2d3950;
}

.row-body-1 p {
	font-size: 20px;
	font-family: lato;
	color: #999999;
}

.c-body-2 {
	margin: 65px 0;
	text-align: center;
}

.row-body-2 div {
	text-align: center;
}

.row-body-2 div h2 {
	font-size: 22px;
	font-family: lato;
	color: #2d3950;
}

.row-body-2 div p {
	font-size: 15px;
	font-family: lato;
	color: #999999;
}

.row-body-2 div img {
	margin-bottom: 10px;
}

.row-body-3 {
	text-align: center;
	padding: 80px 0;
	background-color: #f6f9f9;
}

.row-body-3 h2 {
	margin: 0;
	font-size: 41px;
	color: #2d3950;
	font-family: lato;
	font-weight: 100;
}

.row-body-3 p {
	color: #909090;
	font-size: 15px;
	font-family: lato;
	margin-bottom: 65px;
}

.row-body-3 div div.sprite {
	display: inline-block;
	max-width: 100%;
	height: 100%;
	background: url(../images/sm-body-ico.png) no-repeat;
	position: relative;
	margin: 15px 0;
}

.row-body-3 div div.sprite p {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 115px;
	opacity: 0;
}
/*.row-body-3 div div.sprite p {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 115px 92px;
    opacity: 0;
}*/

.row-body-3 div div.sprite p:hover {
	background-color: rgba(21, 164, 250, 0.86);
	opacity: 1;
}

.row-body-3 div div.sprite p label {
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 10px 11px 12px 13px;
	margin: 0 5px;
}

.row-body-3 div div.sprite p a {
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 10px 11px 12px 13px;
	margin: 0 5px;
}

.row-body-3 div div.sprite.st-1 {
	background-position: 0 0;
}

.row-body-3 div div.sprite.st-2 {
	background-position: -360px 0;
}

.row-body-3 div div.sprite.st-3 {
	background-position: -720px 0;
}

.row-body-3 div div.sprite.st-4 {
	background-position: -1080px 0;
}

.row-body-3 div div.sprite.st-5 {
	background-position: -1440px 0;
}

.row-body-3 div div.sprite.st-6 {
	background-position: -1800px 0;
}

.row-body-4 {
	background: url(../images/bcg-b.png) no-repeat top center;
}

.row-body-4 .row-t {
	background-color: rgba(45,57,80,0.90);
}

.row-body-4 .row-t .mar {
	padding: 60px 0 96px;
}

.row-body-4 .row-t h2 {
	font-size: 41px;
	font-family: lato;
	color: #fff;
	text-align: center;
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: 100;
}

.row-body-4 .row-t p {
	font-size: 15px;
	font-family: lato;
	color: #999999;
	text-align: center;
	margin-top: 0;
	margin-bottom: 40px;
}

form input {
	height: 60px;
	background-color: rgba(240, 248, 255, 0);
	border: 1px solid #999;
	margin: 10px 0;
	border-radius: 3px;
	padding: 0 0 0 20px;
	font-size: 15px;
	font-family: lato;
	color: #999;
}

form textarea {
	height: 160px;
	background-color: rgba(240, 248, 255, 0);
	border: 1px solid #999;
	margin: 10px 0;
	border-radius: 3px;
	padding: 25px 0 0 20px;
	font-size: 15px;
	font-family: lato;
	color: #999;
}

form input.bootum {
	color: rgba(240, 248, 255, 0);
	border: 1px solid #15a4fa;
	border-radius: 3px;
	font-size: 18px;
	font-family: lato;
	color: #ffffff;
}

form input.bootum:hover {
	background-color: #15a4fa;
}

.row-body-5 {
	padding: 25px 0;
}

.row-body-5 div p {
	margin: 9px 0;
}

.row-body-5 div a.sprite-ico {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/sp-ico.png); 
	margin: 0 5px;
	float: right;
	z-index: 1;
}

.row-body-5 div a:hover {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/sp-ico.png); 
	margin: 0 5px;
	float: right;
	z-index: 1;
}

.row-body-5 div a.sprite-ico.t {
	background-position: -41px 0;
}

.row-body-5 div a.sprite-ico.t {
	background-position: -41px 0;
	background-color: red;
	z-index: 2;
}

.row-body-5 div a.sprite-ico.g {
	background-position: -82px 0;
}

.row-body-5 div a.sprite-ico.in {
	background-position: -123px 0;
}

.row {
	margin: 0;
}

@media screen and (min-width: 496px ) {
	.head h1 {
	border-bottom: 2px solid #3ba0d1;
	color: #fff;
	font-family: "Lato Regular";
	font-size: 120px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 165px;
	padding: 0;
}
}